@font-face {
    font-family: 'Roboto-Light';
    src: url(../Roboto/Roboto-Light.ttf) format('truetype');
}
@font-face{
    font-family: 'Roboto-Bold';
    src: url(../Roboto/Roboto-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'Roboto-Thin';
    src: url(../Roboto/Roboto-Thin.ttf) format('truetype');
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url(../Roboto/Roboto-Regular.ttf) format('truetype');
}
.section-one{
    height: 100px;
    background-color: #1F2937;
    margin: -8px -8px;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 4px 120px 50px 120px ;
    flex-wrap: wrap;
}
header .header-links{
    font-family: 'Roboto-Light', sans-serif;
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 300px;
    height: 50px;
    flex: 1 1 1;
}
a{
    color: #E5E7EB;
}
a:hover {
    color: blue;
}
.logo p{
    font-family:'Roboto-Bold', sans-serif;
    font-size: 24px;
    color: #F9FAF8;
    float: right;
    margin-top: 24px;
    margin-left: 10px;
}
.section-links{
    background-color: #3882F6;
    height: 150px;
    width: 15%;
    padding: 4px 0 30px 20px;
    margin-top: 20px;
    border-radius: 6px;
}
.section-links h4{
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 18px;
    margin-top: 10px
}
.section-links a{
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 18px;
}
.section-links, .history-section, .vision, .mission, .inter-links, .last-section{
    text-align: justify;
    margin-left: 40px;
    margin-right: 40px;
}
.history-section{
    margin-top: 20px;
}
.history-section h2{
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 30px;
    font-weight: 800;
}
h3{
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 24px;
}
#inter, #back, p, dt, dd{
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 18px;
}
#back{
    margin-left: 40px;
    margin-right: 40px;
}
#inter, #back{
    color: blue;
}
#inter:hover{
    color: purple;
}
#back:hover{
    color: purple;
}
.address-section{
    background-color: #E5E7EB;
    height: 250px;
    width: auto;
    margin-top: 60px;
    text-align: center;
    padding: 20px 0;
}
footer{
    font-family: 'Roboto-Regular', sans-serif;
    font-size: small;
    text-align: center;
    height: 52px;
    width: auto;
    margin: 3px -8px -8px;
    padding-top: 50px;
    color: #E5E7EB;
    background-color: #1F2937;
}