@font-face {
    font-family: 'Roboto-Light';
    src: url(../Roboto/Roboto-Light.ttf) format('truetype');
}
@font-face{
    font-family: 'Roboto-Bold';
    src: url(../Roboto/Roboto-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url(../Roboto/Roboto-Regular.ttf) format('truetype');
}
.section-one{
    height: 100px;
    background-color: #1F2937;
    margin: -8px -8px 0;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 4px 120px 50px 120px ;
    flex-wrap: wrap;
}
header .header-links{
    font-family:'Roboto-Light', sans-serif;
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 300px;
    height: 50px;
    flex: 1 1 1;
}
a {
    color: #E5E7EB;
}
a:hover {
    color: blue;
}
.logo p{
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 24px;
    color: #F9FAF8;
    float: right;
    margin-top: 24px;
    margin-left: 10px;
}
.section-two{
    background-image: linear-gradient(to bottom, rgba(83, 101, 125, 0.318), rgba(166, 115, 71, 0.8)),
    url(../Images/bg.jpg);
    position: static;
    background-size: cover;
    background-repeat: no-repeat; 
    height: 300px;
    width: 1515px; 
    margin: -30px 0 10px -5px;
}
.academics h4{
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 24px;
    color: #F9FAF8;
    text-align: center;
    padding-top: 130px;
}
.academics h2{
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 36px;
    font-weight: 800;
    color: #F9FAF8;
    text-align: center;
    padding-top: 1px;
}
.departments img{
    float: right;
    margin: 130px 200px 50px;
}
.programs #img-1{
    float: right;
    margin: 100px 200px 100px 0;
}
.programs #img-2{
    float: right;
    margin-top: 220px;
    margin-right: -450px;
}
.departments, .programs{
    margin: 0 50px;
}
.depart-prog{
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 24px;
    color: white;
    text-align: center;
    background-color: #3882F6;
    height: 55px;
    width: 100%;
    margin-bottom: 40px;
}
.lists{
    margin-left: 30px;
}
h3{
    font-family:'Roboto-Bold', sans-serif;
    font-size: 20px;
}
ul > li, .email-address p{
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 18px;
}
#back{
    color: blue;
    margin-left: 50px;
    margin-right: 50px;
}
#back:hover{
    color: purple;
}
.address-section{
    background-color: #E5E7EB;
    height: 250px;
    margin-top: 40px;
    text-align: center;
    padding: 20px 0;
}
.address-section p{
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 18px;
}
footer{
    font-family: 'Roboto-Regular', sans-serif;
    font-size: small;
    text-align: center;
    height: 52px;
    margin: 3px -8px -8px;
    padding-top: 50px;
    color: #E5E7EB;
    background-color: #1F2937;
}